<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href = "/style.css" rel="stylesheet" type = "text/css">
    <title>MSSQL NODEJS</title>
</head>
<body>
    <header>
        <p>MSSQL and Node.js application</p>
        <input type = "button" class = "reset" value = "Сброс" />
    </header>
    <div class="controllers">
        <div class="controlerBox">
            <span>startDate: <input class="startDate" type = "date" /></span>
            <span>endDate: <input class="endDate" type = "date" /></span>
            <span>startTime: <input class="startTime" type = "time" step="2" /></span>
            <span>endTime: <input class="endTime" type = "time" step="2" /></span>
            <input 
                type = "button" 
                class="loadTemp" 
                value = "выборка диапазона значений температур"
            />
        </div>
        <input
            type = "button"
            class = "loadMaxMinTemp"
            value = "определение минимума и максимума значений температур"
        />
        <input
            type = "button"
            class = "loadMiddleValue"
            value = "определение отклонения значений температур от среднего показателя"
        />
        <input
            type = "button"
            class = "loadLocation"
            value = "определение территориального размещения датчиков"
        />
    </div>
