<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href = "/style.css" rel="stylesheet" type = "text/css">
    <title>MSSQL NODEJS</title>
</head>
    <header>
        <p>MSSQL and Node.js application</p>
    </header>
    <div class="controllers">
        <input 
            type = "button" 
            class="loadTemp" 
            value = "выборка диапазона значений температур"
        />
        <input
            type = "button"
            class = "loadMaxMinTemp"
            value = "определение минимума и максимума значений температур"
        />
        <input
            type = "button"
            class = "loadMiddleValue"
            value = "определение отклонения значений температур от среднего показателя"
        />
        <input
            type = "button"
            class = "loadLocation"
            value = "определение территориального размещения датчиков"
        />
    </div>
<body>
