header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

header p {
    text-align: center;
    font-weight: bold;
}

input {
    margin-top: 3px;
}

header input {
    width: 50px;
    padding: 0;

}

.controlerBox {
    display: flex;
    border: 1px solid black;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    margin: 5px;
}

.controlerBox span {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.controlerBox input {
    text-align: center;
    width: 100%;
}

.controllers {
    width: 100%;
    display: flex;
    justify-content: center;
}


.controllers input {
    max-width: 150px;
    max-height: 70px;
    white-space: normal;
}

.error {
    text-align: center;
}

.tables {
    margin: 0 auto;
    max-width: 1140px;
}

.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 10px;
}

.table .ind_item {
    flex: 0 0 15%;
    border: .5px solid black;
    width: 100%;
    padding-left: 5px;
    margin: 5px;
}

.indications .ind_item {
    background-color:  rgb(231, 248, 255);
}

.sensors .ind_item {
    background-color:  rgb(245, 251, 254);
}

.ind_item p {
    margin: 1px;
}

.regions .ind_item {
    background-color:  rgb(185, 234, 255);
}

.title {
    text-align: center;
    font-weight: bold;
}

.title.proc {
    color: red;
}


.procedureResult {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    background-color: #cafad024;
}

.procedureResult div {
    flex: 20%;
    margin: 5px;
    padding: 1px;
    border: .5px solid black;
}

.procedureResult div p {
    margin: 1px;
}